.name{
    height: 50px;
    width: 300px;
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 5px;
}
#submit{
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    color:white;
    height: 40px;
    width: 130px;
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
